.navbar {
  display: flex;
  background-color: rgb(190, 163, 217);
  padding: 14px;
  box-shadow: 0px 0.2px 8px;
  z-index: 9;

  width: 100vw;
}
.navbar p {
  margin: 0 20px;
  font-size: 18px;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.navbar h2 {
  padding-inline: 20px;
  color: #0a1643;
}
