.mainContainer {
  display: flex;
  /* height: 80vh; */
}
.leftContainer {
  width: 70vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.rightContainer {
  width: 30vw;
  border-left: 1px solid rgb(147, 147, 147);
  display: flex;
  flex-direction: column;
  align-items: center;
}
.headerName {
  text-align: center;
  margin-block: 20px;
}
.p-img {
  width: 60px;
  border-radius: 7px;
}
.table {
  background-color: aquamarine;
  width: 50vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-inline: 15px;
  border-radius: 7px;
  height: 80px;
}
